<h3>
  <p-card header="Youster" #playlistDrop>
    <div *ngIf="selection.length > 0">
      <p-card header="Select playlist" [style]="{width: '400px'}" styleClass="ui-card-shadow">
        <span>
          <p-dropdown #drop [options]="selection" 
                            [(ngModel)]="selectedPlaylist" 
                            placeholder="Select playlist"
                            optionLabel="name">
          </p-dropdown>
        </span>
        &nbsp;
        <button pButton type="button" pTooltip="Create" tooltipPosition="top" icon="pi pi-plus" (click)="op.toggle($event)">
          
        </button>
        <p-overlayPanel #op [dismissable]="true" >
            New playlist :
            <input id="input" autofocus type="text" 
                   size="20" pInputText [(ngModel)]="newPlaylist" 
                   (keyup.enter)="create(op)">
            <span>
              &nbsp;<button pButton type="button" icon="pi pi-check" (click)="create(op)"></button>
            </span>             
        </p-overlayPanel>

        <!--<h5>
          <p>Selected playlist: {{selectedPlaylist ? selectedPlaylist.name : 'none'}}</p>
        </h5>-->
        <div>
          <p-toast position='top-center' key='pl'></p-toast>
        </div>
      </p-card>
      <p-card [style]="{width: '400px'}" styleClass="ui-card-shadow">
        <br>
        <div class="p-formgroup-inline">
        <span class="ui-float-label">
          <input id="input" type="text" size="30" pInputText [(ngModel)]="searchText" (keyup.enter)="search()" >
          <label for="input">Search</label>
          &nbsp;
          <button pButton type="button" id="search" icon="pi pi-search" (click)="search()"></button></span>
        </div>
        <div *ngIf="songsList.length > 0">
          <p-listbox [options]="songsList" [(ngModel)]="selectedSongs" multiple="multiple" filter="filter" checkbox="checkbox" [style]="{'width':'355px'}">
            <p-header>
              <i class="pi pi-music"></i><span> Results</span>
            </p-header>
          </p-listbox>
        </div>
        <p-footer>
          <button pButton type="button" label="Make available on Drive" (click)="download()" icon="pi pi-download"></button>
        </p-footer>
      </p-card>
      <p>Selected songs: <span *ngFor="let s of selectedSongs" style="margin-right: 10px">{{s.title}}</span></p>
    </div>
  </p-card>
</h3>